<script type="text/javascript" cosmia-template-data>
    {
        "parent": "default",
        "layout-class": "blog-roll"
    }

</script>

<div>
    <h1>Blog Roll</h1>
    {{#each collection-items}}
    <h4>{{title}}</h4>
    <p>{{summary}}</p>
    {{/each}}
</div>
