<script type="text/javascript" cosmia-data>
    {
        "title": "Home page",
        "page-class": "home",
        "layout": "single-column"
    }

</script>

<h1>Page Title</h1>

<p>Content</p>

{{> my-partial }}

{{#md}}
#The content of this markdown partial should render to HTML
{{/md}}
