<script type="text/javascript" cosmia-data>
    {
        "title": "Home page",
        "page-class": "home"
    }

</script>

<h1>Page Title</h1>

<p>Content</p>

{{> my-partial }}


<script type="text/javascript" cosmia-script>
    alert("i'm coming from a cosmia-script!");

</script>
