<script type="text/javascript" cosmia-data>
    {
        "title": "Sub Section",
        "page-class": "sub-section",
        "layout": "two-column"
    }

</script>

<h1>Page Title</h1>

<p>Content</p>

<script type="text/javascript" cosmia-script>
    alert("i'm coming from a cosmia-script!");

</script>
