<nav style="float:left;width:20%;display:inline-block;vertical-align:top;" role="navigation">
    <div>Left Nav Column</div>
    <div><a href="/">Home</a></div>
    <div><a href="/">Sub Section</a></div>
</nav>
